body {
font-family: Verdana;
font-size: 12px;
color: #444;
}

#container {
width: 700px;
margin: 150px auto;
background-color: #eee;
overflow: hidden;
padding: 15px;
}

#main {
width: 550px;
float: left;
}

#sidebar {
width: 200px;
float: right;
}

a {
color: #297de5;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

h1, h2 {
margin-bottom: 15px;
}

h1 {
font-size: 18px;
}

h2 {
font-size: 16px;
}

#main table{
width: 480px;
}

#main table th {
padding: 10px;
background-color: #48577d;
color: #FFF;
text-align: center; 
font weight: bold;
}

#main table td {
padding: 5px;
}

#main table tr {
background-color: #d3dcf2
}
